
.example-card {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
  }
  .image
  {
      margin-left: auto;
      margin-right: auto;
      height: 200px;
      width: 200px;
  }
  mat-card-title
  {
      margin-left:10px;
      margin-right: auto;
      text-align: center;
  }
  mat-card-subtitle{
    margin-left:10px;
    margin-right: auto;
    text-align: center;
  }
.cardHeader
{ 
   width: 21%;
    margin:  auto;
} 
mat-button
{
    margin-left: 50px;
    color:red
}
mat-card-actions
{
    display: flex;
    flex-direction: row;
}
.button{
    margin-left: 20px;
   
}

