

    <main >
    
        <mat-card class="example-card">
            <div class="cardHeader">
                <mat-card-header>
           
                    <mat-card-title>{{_userService.userModel.UserName}}</mat-card-title>
                    <mat-card-subtitle>{{_userService.userModel.Email}}</mat-card-subtitle>
                  
                  </mat-card-header>
            </div>
           
            
           <div  class="image"><ngx-avatar id="userAvatar"  [src]="avatarUrl" [size]=200 (click)="avatarClicked()" > </ngx-avatar></div> 
            <mat-card-content style="margin-top: 100px;">
              
            </mat-card-content>
            <mat-card-actions>
               
               <div class="button">
                <button mat-button  (click)="avatarClicked()"> Change avatar</button>
               </div> 
               <div class="button">
                <button mat-button>Change nickname</button>
               </div>
               <div class="button">
                <button mat-button>Save changes</button>
            </div>
             
              
               <input id="myInput"  type="file" style="visibility:hidden;height: 0px;width: 0xp;"  (change)="avatarChanged($event)" accept="image/png, image/jpeg" />
              </mat-card-actions>
            
          </mat-card>
    
    </main>
    

