main{
    grid-area: main;
    width: 100%;
}
header{
    grid-area: header;
    margin:0px;
}
.header{
    margin-left: 15px;
    margin-top: 5px;
   
    
}
.chatThumbnail
{
    display: flex;
    flex-direction: row;
}
aside{
    grid-area:sidebar;
    margin:0px;
    height: 100%;
    width:100%
}
.container
{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 12fr;
    grid-template-areas:"header header"
                        "sidebar main";
width: 100%;
height: 100%;
}