
<div class="container" >
    <header>
        <app-toolbar><app-menulist></app-menulist></app-toolbar>
    </header>
    
    <aside >
        <app-sidebar>
            
      
           
      <button mat-button  *ngFor="let chatroom of chatRooms" style="width:100%;  ;" ><div class="chatThumbnail"><ngx-avatar [src]="chatroom.ChatUser.UserThumbnail" [size]="40"></ngx-avatar><p class="header">{{chatroom.ChatUser.Username}}</p></div></button>
        </app-sidebar>
    </aside>

    <main>
        <router-outlet></router-outlet>
    </main>