
<div class="container">

</div>

<div *ngIf="messages.length==0" style="width: 100%; margin-top: 30px; margin-left:3% ; font-size: 25px; text-align: center;" >Write first Message</div>
<div id="message">

    <div class="messageHeader"><ngx-avatar src="assets/default.png"  [size]="40"></ngx-avatar> <h2>Nickname</h2> <span class="date">04.03.2021</span></div> 
    <div class="messageBody">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam voluptatem fugit nisi adipisci reprehenderit eum cupiditate eveniet, assumenda ullam illo accusamus debitis officia, reiciendis architecto excepturi voluptas nulla, alias obcaecati.</div>
</div>
  

<div class="messageInput">
    <mat-form-field class="form">
        <mat-label>Send message</mat-label>
        <input matInput type="text"  [(ngModel)]="text">
        <button mat-button *ngIf="text" matSuffix mat-icon-button aria-label="Clear" (click)="text=''">
          <mat-icon>close</mat-icon>
        </button>
        
      </mat-form-field>
     <div class="sendIcon"> <button mat-mini-fab color="primary" (click)="sendMessage()">
        <mat-icon>send</mat-icon>
      </button></div>
      
</div>