
<div class="container">

</div>
<div id="message">

    <div class="messageHeader"><ngx-avatar src="assets/default.png"  [size]="40"></ngx-avatar> <h2>Nickname</h2> <span class="date">04.03.2021</span></div> 
    <div class="messageBody">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam voluptatem fugit nisi adipisci reprehenderit eum cupiditate eveniet, assumenda ullam illo accusamus debitis officia, reiciendis architecto excepturi voluptas nulla, alias obcaecati.</div>
</div>
  

<div class="messageInput">
<input type="text">
</div>